.header-container {
  background: #000000;
  color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}
.header-menu a::after {
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background: #ffbb00;
  margin-top: 5px;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .header-menu a:hover::after {
    width: 0%;
  }
  .header-menu a {
    border-radius: 4px;
    padding: 8px 12px;
  }
  .header-menu a:hover {
    background: #242424;
  }
}
@media (max-width: 500px) {
  .header-menu {
    gap: 20px;
    justify-content: center;
  }
  .header-menu a {
    font-size: 16px;
  }
}
